/* Fonts */

@font-face {
    font-family: 'recoletablack';
    src: url('recoleta-black-webfont.woff2') format('woff2'),
         url('recoleta-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_monoregular';
    src: url('apercu_mono_copy-webfont.woff2') format('woff2'),
         url('apercu_mono_copy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Reset */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
img {max-width: 100%;}
*{box-sizing: border-box;}
html {background: #efefef;}
body {width: 100%; margin: 0 auto;}
.clear {clear: both;}

/* Styling */

body {background:#D8D8D8;}

h1 {font-family: 'recoletablack', serif; font-size: 49px;}
h2 {font-family: 'recoletablack', serif; font-size: 42px;}
h3 {font-family: 'recoletablack', serif; font-size: 35px;}
h4 {font-family: 'recoletablack', serif; font-size: 28px;}
h5 {font-family: 'recoletablack', serif; font-size: 21px;}
p {font-family: 'apercu_monoregular', sans-serif; font-size: 14px;}
.brand {font-family: 'recoletablack', serif;}

/* Structure */

.container {width: 640px; margin: 25px auto;}
