/* Fonts */

@font-face {
    font-family: 'recoletablack';
    src: url('recoleta-black-webfont.woff2') format('woff2'),
         url('recoleta-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_monoregular';
    src: url('apercu_mono_copy-webfont.woff2') format('woff2'),
         url('apercu_mono_copy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Reset */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
img {max-width: 100%;}
*{box-sizing: border-box;}
html {background: #E5E7E6;}
body {width: 100%; margin: 0 auto;}
.clear {clear: both;}

/* Styling */

body {background:#E5E7E6;}

h1 {font-family: 'recoletablack', serif; font-size: 49px; color: #A20202;}
h2 {font-family: 'recoletablack', serif; font-size: 42px; color: #A20202;}
h3 {font-family: 'recoletablack', serif; font-size: 35px; color: #A20202;}
h4 {font-family: 'recoletablack', serif; font-size: 28px; color: #A20202;}
h5 {font-family: 'recoletablack', serif; font-size: 21px; color: #A20202;}
p {font-family: 'apercu_monoregular', sans-serif; font-size: 14px; color: #0A122A;}
.brand {font-family: 'recoletablack', 'apercu_monoregular', serif; color: #A20202;}
a {color: #FAA916;}

button {-webkit-appearance: none; background:#FAA916; border-radius: 2px; padding: 5px 8px; color: #0A122A; border: 0; font-family: 'apercu_monoregular', sans-serif; font-size: 14px; letter-spacing: -1px; cursor: pointer;}
button:hover {background: #e3a22d;}

/* Structure */

.container {max-width: 640px; width: 95%; margin: 25px auto;}

/* Forms */

input {border: 1px solid #0A122A;background: transparent;border-radius: 2px; padding: 5px 8px; color: #0A122A;font-family: 'apercu_monoregular', sans-serif; font-size: 14px;}
.signup-form {padding: 28px 0;}
